@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	margin:0px;
}


div.lgBox{
	position: relative;
    margin-left: 60vw;

}
img{
	position: absolute;
	 width:40vw;
    height:100vh;
    margin:0px;
}
p.heading{
	position:absolute;
	margin-top: 5%;
   margin-left:5%;
    color: white;
	font-size: 300%;
	font-family: Raleway light;
}
form.lgEntry{
	position:absolute;
	top:30vh;
	left:20vw;
}
input{
	border:0px;
	border-bottom:2px solid grey;
    width:200%;
    margin-bottom: 10%;
}
label{
	font-family:Raleway; 
}