@import url('https://fonts.googleapis.com/css?family=Raleway');

body{

	background-color:#02b46d;
	margin:0px;
   }
   canvas{
   	position: absolute;
	border:1px solid black;
	height:100vh;
	width:100vw;
	margin:0;
}
div.back{
	position:absolute;
	margin: 0;
}

img{
	position:absolute;
	width:70vw;
	height:100vh;
}
p.text{
	position:absolute;
	font-size: 150%;
	color:white;
	margin-left:5vw;
	margin-top:10vh;
    width:20vw;
    font-family:'Raleway', thin;
}
span{
	font-size: 400%;
}
div.form{
	position:absolute;
	margin-top:20vh;
	margin-left:55vw;
	/*width:30vw;*/
	/*height:70vh;*/
	background-color: white;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .6); 
}
h1{
	margin:5%;
	margin-left:35%;
	font-family: 'Raleway', thin;
    margin-bottom: 5%;
    color: #02b46d;
}

form{
	margin-left:15%;
    
 
}
label{
	font-family:'Raleway'; 
	font-size:120%;
}
input{
	border:0px;
	border-bottom:2px solid grey;
   padding-top: 1%;
    padding-left: 2%;
    font-size:120%;
}
input:focus{
	outline:none;
	border-bottom:2px solid  #02b46d;
}
#title:focus label{
	font-size: 100%;
}
.home{
	text-decoration: none;
	color:white;
}
button.button{
	width:18vw;
	margin-left:7vw;
	margin-top: 0px;
	margin-bottom: 0px;
    background-color:black;
    padding:2% 4% 2% 4%;
    font-family: 'Raleway';
    color:white;
  /*  box-shadow: 0 1px 4px rgba(0, 0, 0, .6); */
    text-align:center;
    cursor: pointer;
   /* box-sizing: border-box;*/
   
}
p.button:hover{
	border:2px solid black;
	background-color: white;
	color:black;
}
p.button:active{
	border:3px solid #273b09;
	/*background-color:#273b09;*/
}
p.ques{

	margin:2vh 7vw 2vh ;
	font-family: 'Raleway';
	line-height: 150%;
   
}
div.details{
	display:table;
	margin-left:7vw;
	margin-right: 7vw;
}
div.row{
	display:table-row;
}

@media only screen and (max-width:800px){
	span{
		font-size:300%;
	}
}
