@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	background-color: #9eb25d;
	margin:0px;
}
div.back{
	position:absolute;
}
img{
	position:absolute;
	width:70vw;
	height:100vh;
}
p.text{
	position:absolute;
	font-size: 200%;
	color:white;
	margin-left:5vw;
	margin-top:10vh;
    width:20vw;
    font-family: Raleway thin;
}
span{
	font-size: 400%;
}
div.form{
	position:absolute;
	margin-top:20vh;
	margin-left:55vw;
	width:30vw;
	height:65vh;
	background-color: white;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .6); 
}
h1{
	margin:10%;
	margin-left:35%;
	font-family: Raleway thin;
    margin-bottom: 5%;
}

form{
	margin-left:15%;
	margin-bottom: 0px;
    margin-top:0px;
 
}
label{
	font-family:Raleway; 
	font-size:120%;
}
input{
	border:0px;
	border-bottom:2px solid grey;
    width:70%;
   
  
}
p.button{
	width:18vw;
	margin-left:5vw;
	margin-top: 0px;
	margin-bottom: 0px;
    background-color: #9eb25d;
    padding:1% 5% 1% 5%;
    font-family: Raleway;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
    text-align:center;
    box-sizing: border-box;
     -webkit-transition: background-color 2s ease-out;
}
p.buttton:hover{
	background-color:#273b09;
}
p.button:active{
	background-color:#273b09;
}
p.ques{
	position: absolute;
	margin-top: 1vh;
	margin-left:5vw;
	font-family: Raleway;
	line-height: 115%
   
}
