dj-database-url==0.4.2
Django==3.2.25
django-cleanup==1.0.1
django-filter==1.0.4
django-filters==0.2.1
django-widget-tweaks==1.4.1
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.2
pytz==2017.2
whitenoise==3.3.1
