@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	background-color: #9eb25d;
	margin:0px;
}
img{
	width:70vw;
	height:100vh;
}
div{
	position:absolute;
	margin-top:20vh;
	margin-left:55vw;
	width:30vw;
	height:65vh;
	background-color: white;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .6); 
}
h1{
	margin:10%;
	margin-left:35%;
	font-family: Raleway thin;

}
p{
	margin:10%;
}
form{
	margin-left:25%;
}