@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	margin:0px;

}
img{
	position: absolute;
    width:40vw;
    height:100vh;
    margin:0px;
    box-shadow: 2px 0px 20px black;
}

form.suEntry{
	position:absolute;
    margin-top:10vh;
	margin-left:50vw;
	height:70vh;

 }
 p.entry{
 	height: 60vh;
 
 }
p.heading{
	position: absolute;
	margin-top: 5%;
   margin-left:5%;
    color: white;
	font-size: 300%;
	font-family: Raleway light;
	width:20vw;
	
}
div{
	position: relative;
}
input{
	border:0px;
	border-bottom:2px solid grey;
    width:200%;
    margin-bottom: 10%;
  
}
label{
	font-family:Raleway; 
	font-size:100%;
}
span{
	font-size:50%;
	word-wrap: break-word;
}
p.button{
    position: absolute;
    margin-left: 50vw;
    margin-top: 80vh;
    background-color: #9eb25d;
    padding:1% 8% 1% 8%;
    font-family: Raleway;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
   -webkit-transition: background-color 2s ease-out;
}
p.buttton:focus{
	background-color:#273b09;
}
p.button:active{
	background-color:#273b09;
}
p.oldUser{
	position:absolute;
	margin-left:50vw;
	margin-top:87vh;
	text-align:center;
}
div.lgBox{
	position: relative;
    margin-left: 60vw;

}
form.lgEntry{
	position:absolute;
	top:30vh;
	left:20vw;
}
@media only screen and (max-width: 350px){
     p.button{
     	margin-top:90vh;
     }
     p.oldUser{
     	margin-top:95vh;
     }
}
@media only screen and (max-height: 1400px){
	p.button{
		margin-top:50vh;
	}
	p.oldUser{
		margin-top:55vh;
	}
@media only screen and (max-height: 1100px){
	p.button{
		margin-top:60vh;
	}
	p.oldUser{
	margin-top:67vh;
    }	
}
@media only screen and (max-height: 770px){
	p.button{
		margin-top:70vh;
	}
	p.oldUser{
		margin-top:77vh;
	}
}
@media only screen and (max-height: 680px){
	p.button{
		margin-top:90vh;
	}
	p.oldUser{
		margin-top:97vh;
	}
}