{% load staticfiles %}
{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <h1>phoics</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>

<h2>WELCOME PHOICS</h2>
</body>
</html>{% endcomment %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>frontpage</title>
<link rel="stylesheet" type="text/css" href="{% static 'portal/front_page.css'%}">
</head>
<body>

<div class="container">

<div class="hline1"></div>
<h1>PHOICS</h1>

<p><span>Home to one's best photos</span><br>
   UPDATE  ,  EDIT  ,  SHARE</p>
<ul>

    <li class="su"><a href="{% url 'signup' %}"> sign up </a></li>
    <li class="li"><a href="{% url 'profile' %}"> login </a></li>
</ul>
<div class="hline2"></div>
</div>


</body>
</html>