{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>INFO</title>
<link rel="stylesheet" type="text/css" href="{% static 'portal/signuppage.css' %}">
</head>
<body>
<div class="back">
<img src="{% static 'portal/images/background.jpg' %}">
<p class="text"><span>PHOICS</span><br>
UPDATE<br>
EDIT<br>
SHARE<br></p>
</div>
<div class="form">
<h1>ENTER-INFO</h1>
<p>


{% if user.is_authenticated %}
    <form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
           <label for="name">{{ field.label_tag }}</label><br>
           {{ field }}<br><br>

           {% for error in field.errors %}
                 <p style="color: red">{{ error }}</p>
           {% endfor %}
    {% endfor %}

    <button class="button" type="submit">SUBMIT</button><br>
    <a href="{% url 'profile' %}">PROFILE</a>
    </form>
{% else %}
    <h3>first logged in</h3>
     <a href="{% url 'login' %}">logout</a>
{% endif %}






</p>
</div>

</body>
</html>
