{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>login</title>
<link rel="stylesheet" type="text/css" href="{% static 'portal/signuppage.css' %}">
</head>
<body>
    <canvas id="drawing_area"></canvas>
    <script src="{% static 'portal/javascript/animation.js' %}"></script>
    <div class="back">
        <img src="{% static 'portal/images/background.jpg' %}">
        <p class="text"><span>PHOICS</span><br>
        UPDATE<br>
        EDIT<br>
        SHARE<br></p>
    </div>
    <div class="login form">
        <h1>LOG-IN</h1>
        <p>
             {% if user.is_authenticated %}
                 <label>FIRST LOG OUT</label>
                 <a href="{% url 'logout' %}">logout</a>
             {% else %}
                 <form name="login" method="post" novalidate>
                     {% csrf_token %}
                     <div class="log details">


                         <div class="row">
                             <label id="id_username">{{ form.username.label_tag }}</label><br>

                            <p id="id_username"> {{ form.username }}</p><br>
                            <p id="print"></p>
                               <br>

                         </div>

                         <div class="row">
                             <label>{{ form.password.label_tag }}</label><br>
                             <p id="id_password">{{ form.password }}</p><br><br>
                         </div>
{#                         {% if form.errors %}#}
{#                             <p style="color: red">your username and  password does not <br>match. please try again </p><br><br>#}
{#                         {% endif %}#}
                            <button class="log button" type="submit" onclick="check_req()">LOG-IN</button>

                         </div>


                     <p class="log ques"><a href="{% url 'password_reset' %}">Forgot password?</a><br>
                     New User? <a href="{% url 'signup' %}">signup</a>
                     </p>
                 </form>
             {% endif %}
        </p>
    </div>
</body>
</html>