{% extends 'portal/base.html' %}

{% block content %}
    <h2>Log in to PHOICS</h2>
    {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>firstly logout</h3>


    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                    <p><small style="color: grey">{{ field.help_text }}</small></p>
                {% endif %}
                </p>
            {% endfor %}
            <button type="submit">Log in</button>
            <a href="{% url 'signup' %}">New to My Site? Sign up</a>
            <h3>if you forget password click below</h3>
            <a href="{% url 'forget_pass' %}">forget password</a>

        </form>
    {% endif %}
{% endblock %}
