{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>login</title>
<link rel="stylesheet" type="text/css" href="{% static 'portal/signup_page.css' %}">
</head>
<body>
<div class="back">
<img src="{% static 'portal/images/background.jpg' %}">
<p class="text"><span>PHOICS</span><br>
UPDATE<br>
EDIT<br>
SHARE<br></p>

</div>
<div class="form">
<h1>LOG-IN</h1>
<p>
{% if user.is_authenticated %}
    <label>FIRST LOG OUT</label>
    <a href="{% url 'logout' %}">logout</a>

{% else %}
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label_tag }}</label><br><br>
        {{ field }}<br><br>
        {% for error in field.errors %}
            <p>{{ error }}</p><br><br>
        {% endfor %}
    {% endfor %}
    <p class="button">
    <button class="button" type="submit">LOG-IN</button>
    </p>
    <p class="ques"><a href="{% url 'password_reset' %}">Forgot password?</a><br>
        New User? <a href="{% url 'signup' %}">signup</a>    </p>

    </form>

    {% endif %}
</p>
</div>
</body>
</html>