{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script >
        function preview(event)
        {
            var reader = new FileReader();
            reader.onload = function()
            {
                var output = document.getElementById('output');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
{#    <script>#}
{#        document.getElementById("result").innerHTML = localStorage.getItem("obj.document.url");#}
{#        var myUrl = localStorage.url#}
{##}
{#    </script>#}
	<title>upload file</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/Upload.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
        <a href="{% url 'search' %}"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'newsfeed' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'profile' user.username %}">	<i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="container">
        <div class="content heading"><p class="upload" ><p style="text-align: center; font-size: 200%">
            {{ user.username }}</p><br></div>
         <div class="content form">
             <div class="Form">


                    {% if request.user.is_authenticated %}

                         <form method='post' enctype="multipart/form-data" novalidate onchange="preview(event)">
                             {% csrf_token %}
                                 <div class="row">
                                     <label for="name">{{ form.document.label_tag }}</label>
                                      {{ form.document }}<br>
                                      <p id="error_image_document" style="color: #ff0000">{{ form.document.errors }}
                                 </div>
                                 <div class="row">
                                     <label for="name">{{ form.status.label_tag }}</label>
                                      {{ form.status }}<br>
                                      <p id="error_image_status" style="color: #ff0000">{{ form.status.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.width.label_tag }}</label>
                                      {{ form.width }}<br>
                                      <p id="error_image_width" style="color: #ff0000">{{ form.width.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.height.label_tag }}</label>
                                      {{ form.height }}<br>
                                      <p id="error_image_height" style="color: #ff0000">{{ form.height.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.rotate.label_tag }}</label>
                                      {{ form.rotate }}<br>
                                      <p id="error_image_rotate" style="color: #ff0000">{{ form.rotate.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.flip.label_tag }}</label>
                                      {{ form.flip }}<br>
                                      <p id="error_image_flip" style="color: #ff0000">{{ form.flip.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.blur.label_tag }}</label>
                                      {{ form.blur }}<br>
                                      <p id="error_image_blur" style="color: #ff0000">{{ form.blur.errors }}
                                 </div>

                                 <div class="row">
                                     <label for="name">{{ form.effect.label_tag }}</label>
                                      {{ form.effect }}<br>
                                      <p id="error_image_effect" style="color: #ff0000">{{ form.effect.errors }}
                                 </div>


                             {#                            {% for field in form %}#}
{#                                <div class="row">#}
{#                                    <label for="name">{{ field.label_tag }}</label>#}
{#                                    {{ field }}#}
{#                                    <br><br>#}
{#                                    {% for error in field.errors %}#}
{#                                             <p style="color: red">{{ error }}</p>#}
{#                                    {% endfor %}#}
{##}
{#                                </div>#}
{#                            {% endfor %}#}
                         {% if messages %}
                                        <ul class="messages" style="color: red;list-style-type: none">
                                   {% for message in messages %}
                                        {% endfor %}
                                                </ul>
                                        <li{% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                       {% endif %}
                            <button class="button" type="submit">SUBMIT</button><br>
                         </form>
                    {% else %}
                    <h3>first logged in</h3>
                    {% endif %}

                 </div>
            </div>
            <div class="content preview">
                <h3>upload photo</h3>
                <div class="image"><img id="output"></div>
            </div>


        </div>
</body>
</html>