{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>

<html>
<head>
    <title>newsfeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/newsfeed.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".comment").on('keypress', function(event) {
                key = event.keyCode;
                if (key == 13) {
                    var imgid;
                    var comment;
                    imgid = $(this).attr("img_data");
                    comment = $(this).val();
                    $.get('/phoics/comment/', {'imgid': imgid, 'comment': comment}, function (data) {
                        $('#show_user' + imgid).html(data.user);
                        $('#show_comment' + imgid).html(data.comment);
                    })
                }
            })
        })
    </script>
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
        <a href="{% url 'search' %}" ><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'newsfeed' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'profile' user.username %}">	<i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
    </div>
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        <div class="container">
            {% for img in images %}

                {% if img.status == "PUBLIC" %}
                    <div class="feed1">
                        <a href="{{ img.document.url }}"><img src="{{ img.document.url }}" ></a>
                        <a href="{% url 'profile' img.user.username %}"> <p class="name">{{ img.user }}</p></a>
                        <p class="date">{{ img.uploaded_at|naturaltime|capfirst }}</p>
                        <input class="comment" type="text" img_data="{{img.pk}}" placeholder="Enter a comment">
                        <p id="show_user{{img.pk}}"></p><p id="show_comment{{img.pk}}"></p><br>
                        {% for com in comments %}
                            {% if com.document == img %}
                                <p>{{com.user}} : {{com.comment}}</p><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <footer>
            {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}"><button>Previous</button></a>
            {% endif %}
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
            {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}"><button>Next</button></a>
            {% endif %}
            <br><br>PAGE:
            {%  for num in page_range %}

                {%  if images.number == num %}
                    <a href="?page={{num}}">{{num}}</a>
                {% else %}
                    <a href="?page={{num}}"><button>{{num}}</button></a>
                {% endif %}
            {% endfor %}
        </footer>
    {% else %}
        <h3>you are not logged-in first login</h3>
    {% endif %}
</body>
</html>

