{% load staticfiles %}
{% load humanize %}
{% load social_share %}

<!DOCTYPE html>
<html>
<head>
<title>newsfeed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'portal/newsfeed.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'portal/javascript/ajax.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".comment").on('keypress', function(event) {
                key = event.keyCode;
                if (key == 13) {
                    var imgid;
                    var comment;
                    imgid = $(this).attr("img_data");
                    comment = $(this).val();
                    $.get('/phoics/comment/', {'imgid': imgid, 'comment': comment}, function (data) {
                        var data1 =  JSON.parse(data);
                        $('#show_user' + imgid).html(data1['user']);
                        $('#comma').html(':');
                        $('#show_comment' + imgid).html(data1['comment']);
                    })
                }
            })
        })

    </script>
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
        <a href="{% url 'search' %}" ><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'newsfeed' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'profile' user.username %}">	<i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
    </div>
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        <div class="container">
            <div class="row">
            {% for img in images %}

                {% if img.status == "PUBLIC" %}
                    <div class= "offset-md-3 col-md-6">
                        <div class="card">

                            <a href="{% url 'profile' img.user.username %}" class="card-body"> <h4 class="card-title">{{ img.user }}</h4></a>
                        <a href="{{ img.document.url }}"><img src="{{ img.document.url }}" class="card-img" ></a>
                        <div class="card-body">
                        <p class="date time ">{{ img.uploaded_at|naturaltime|capfirst }}</p>
                        <div class="display" img-id="{{ img.id }}">


                        <small class="text-muted" id="count_like{{ img.id }}">{{ img.like_user.count}} likes</small><br>
                        </div>
                        </div>
                    <p id="user{{ img.id }}"></p>
                    <ul class="nav">
                    <li class="nav-item">{% ifequal 1 img.like_or_not %}
                        <button type="submit" class="display1 nav-link" id="dislike{{ img.id }}" data-imgid="{{ img.id }}">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button><br><br>
                    {% endifequal %}

                    {% ifnotequal 1 img.like_or_not %}
                        <button type="submit" class="display1" id="like{{ img.id }}" data-imgid="{{ img.id }}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button><br><br>
                    {% endifnotequal %}
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href=".collapse" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-comment-o" aria-hidden="true"></i> Comment

                            </a>
                        </li>
                    <li class="nav-item">
                        <a href='#' class="nav-link">
                        <i class="fa fa-share" aria-hidden="true"></i> Share
                        </a>
                    </li>
                    </ul>
                        <div class="collapse" id="collapseExample">
                        <input  class="comment" type="text" img_data="{{img.pk}}" placeholder="Add a comment"><br>
                        <p id="show_user{{img.pk}}" style="display: inline"></p>
                        <p id="comma" style="display: inline" ></p>
                        <p id="show_comment{{img.pk}}" style="display: inline"></p><br><br>

                        {% for com in comments %}

                            {% if com.document == img %}
                                <p>{{com.user}} : {{com.comment}}</p><br>
                            {% endif %}

                        {% endfor %}
{#                        <p style="text-align: center;" {% post_to_facebook img.document.url "Share to facebook!" %}></p>#}
                        </div>
                        </div>
                    <br>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <footer>
            {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}"><button>Previous</button></a>
            {% endif %}
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
            {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}"><button>Next</button></a>
            {% endif %}
            <br><br>PAGE:
            {%  for num in page_range %}

                {%  if images.number == num %}
                    <a href="?page={{num}}">{{num}}</a>
                {% else %}
                    <a href="?page={{num}}"><button>{{num}}</button></a>
                {% endif %}
            {% endfor %}
        </footer>

    {% endif %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>

