{% load staticfiles %}
{% load humanize %}
{% load social_share %}

<!DOCTYPE html>
<html>
<head>
<title>newsfeed</title>
    <style>
        .dis1 { background-color: #ffffff; }
        .dis2 { background-color: #ff0000; }
        .display1 { background-color: #ff0000; }

    </style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'portal/newsfeed.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'portal/javascript/ajax.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".comment").on('keypress', function(event) {
                key = event.keyCode;
                if (key == 13) {
                    var imgid;
                    var comment;
                    imgid = $(this).attr("img_data");
                    comment = $(this).val();
                    $.get('/phoics/comment/', {'imgid': imgid, 'comment': comment}, function (data) {
                        var data1 =  JSON.parse(data);
                        $('#show_user' + imgid).html(data1['user']);
                        $('#comma').html(':');
                        $('#show_comment' + imgid).html(data1['comment']);
                    })
                }
            })
        });
        function ifnotliked(id) {
            console.log(id);
             $('#'+id).toggleClass('dis1');
{#             if($('#'+id).css('background-color')==='#ff0000') {#}
{#                 console.log(1);#}
{#                 $(this).css('background-color', '#ffffff');#}
{#             }#}
{#             else {#}
{#                 console.log(2);#}
{#                 $(this).css('background-color', '#ff0000');#}
{#        }#}

        }
        function ifliked(id) {
                        console.log(id);
             $('#'+id).toggleClass('dis2');
{#              if($('#'+id).css('background-color')==='#ff0000')#}
{#                 $(this).css('background-color', '#ffffff');#}
{#             else {#}
{#                  $(this).css('background-color', '#ff0000');#}
{##}
{#              }#}
        }

    </script>
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
        <a href="{% url 'search' %}" ><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'newsfeed' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'profile' user.username %}">	<i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
    </div>
    {% if request.user.is_authenticated %}
        {% csrf_token %}
        <div class="container">
            {% for img in images %}

                {% if img.status == "PUBLIC" %}
                    <div class="feed1">
                        <a href="{{ img.document.url }}"><img src="{{ img.document.url }}" ></a>
                        <a href="{% url 'profile' img.user.username %}"> <p class="name">{{ img.user }}</p></a>
                        <p class="date">{{ img.uploaded_at|naturaltime|capfirst }}</p>
                        <div class="display" img-id="{{ img.id }}">
                        <strong>Total likes : </strong>

                        <strong id="count_like{{ img.id }}">{{ img.like_user.count}}</strong><br>
                    </div>
                    <p id="user{{ img.id }}"></p>

                    {% ifequal 1 img.like_or_not %}
                        <button type="submit" class="display1" id="dislike{{ img.id }}" data-imgid="{{ img.id }}"
                                onclick="ifnotliked(id)">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button><br><br>

                    {% endifequal %}

                    {% ifnotequal 1 img.like_or_not %}
                        <button type="submit" class="display2" id="like{{ img.id }}"
                                data-imgid="{{ img.id }}" onclick="ifliked(id)" >
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button><br><br>
                    {% endifnotequal %}
                        <input class="comment" type="text" img_data="{{img.pk}}" placeholder="Enter a comment"><br>
                        <p id="show_user{{img.pk}}" style="display: inline"></p>
                        <p id="comma" style="display: inline" ></p>
                        <p id="show_comment{{img.pk}}" style="display: inline"></p><br><br>
                        {% for com in comments %}
                            {% if com.document == img %}
                                <p>{{com.user}} : {{com.comment}}</p><br>
                            {% endif %}
                        {% endfor %}
                        {% post_to_facebook img.document.url "Share to facebook!" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <footer>
            {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}"><button>Previous</button></a>
            {% endif %}
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
            {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}"><button>Next</button></a>
            {% endif %}
            <br><br>PAGE:
            {%  for num in page_range %}

                {%  if images.number == num %}
                    <a href="?page={{num}}">{{num}}</a>
                {% else %}
                    <a href="?page={{num}}"><button>{{num}}</button></a>
                {% endif %}
            {% endfor %}
        </footer>

    {% endif %}
</body>
</html>

