{#{% extends 'base_profile.html' %}#}
{##}
{#{% load widget_tweaks %}#}
{##}
{#{% block content %}#}
{#{% if user.is_authenticated %}#}
{#   <form method="get">#}
{#      <div>#}
{#      <h4 style="margin-top: 0">Search</h4>#}
{#      <div>#}
{#        <div >#}
{#          {{ filter.form.username.label_tag }}#}
{#          {% render_field filter.form.username  %}  {% render_field filter.form.email  %}#}
{##}
{#        </div>#}
{#        <div>#}
{#          {{ filter.form.year_joined.label_tag }}#}
{#          {% render_field filter.form.year_joined %}#}
{#        </div>#}
{#        </div>#}
{#        </div>#}
{#      </div>#}
{#      <button type="submit">#}
{#        <span></span> Search#}
{#      </button>#}
{#    </div>#}
{#  </form>#}
{##}
{#  <table>#}
{#    <thead>#}
{#      <tr>#}
{#        <th>USERNAME</th>#}
{#        <th>DATE JOIN</th>#}
{#          <th>EMAIL#}
{#      </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#      {% for user in filter.qs %}#}
{#        <tr>#}
{#          <td>{{ user.username }}</td>#}
{#          <td>{{ user.date_joined }}</td>#}
{#        <td>{{ user.email }}#}
{#        </tr>#}
{#      {% empty %}#}
{#        <tr>#}
{#          <td colspan="5">SORRY, no such user on phoics account</td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </tbody>#}
{#  </table>#}
{##}
{##}
{#{% else %}#}
{#<h2>first login</h2>#}
{#{% endif %}#}
{#{% endblock %}#}


{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<title>search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
            <a href="{% url 'search' %}"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        	<a href="{% url 'newsfeed' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            <a href="{% url 'profile' %}">	<i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
         	<a href="{% url 'login' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
     </div>
    <form method="get">
     <div class="search-box">
         <h1>Whom do you want to search?</h1>
         <strong>{{ filter.form.username.label_tag }}</strong>
         {% render_field filter.form.username %}
         <button class="search" type="submit">search</button>
         <div class="results">
             <div class="heading">Username</div>
             <div class="heading">E-mail</div>
             <div class="heading">Date Joined</div>
             {% for user in filter.qs %}
                <div class="ans">{{ user.username }}</div>
                <div class="ans">{{ user.email }}</div>
                <div class="ans">{{ user.date_joined }}</div>
                {% empty %}
                 <div class="ans" style="color: red"><strong>SORRY, no such user on phoics account</strong></div>
           {% endfor %}
         </div>
     </div>
    </form>
</body>
</html>