@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	margin:0px;
	background-color: #eeeeee;
}
#top{
	top:0;
	position:fixed;
	width:100vw;
    height:10vh;
    background-color: #02b46d;
    z-index: 1;
}
h2{
	position: relative;
    margin-top:3vh;
    margin-left:10vw;
	letter-spacing: 0.5em;
    font-family: Raleway medium;
    display: inline;
}
i.fa{
	cursor: pointer;
}
i.fa:hover{
	color:white;
}

i.fa-home{
	position: relative;
	margin-top:3vh;
	margin-left:60%;
}
i.fa-user{
	margin-left:2%;
}
i.fa-sign-out{
	margin-left:2%;
}

a{
	text-decoration: none;
	color:black;
}
div.container{
	position:relative;
	margin-top:12vh;
}
div.feed1{
	position: relative;
	margin-top:3vh;
	margin-left: 25vw;
    width:50vw;
    background-color: white;
    align-items: center;
}
.feed1 img{
	margin-top:7vh;
	width:50vw;
	margin-bottom: 2vh;
}
p{
    margin-top: 0;
	position:absolute;
	margin-left:3vw;
	font-family:Raleway light;
	cursor:pointer;
	display: inline;
}
p.name{
	font-weight: bold;
	margin-top:2vh;
	font-size:150%;
}
label{
	margin-top:45vh;
	margin-left:15vw;
	font-family:Raleway light;
}
p.share{
	margin-left:10vw;
}
input{
	margin-top:1vh;
	margin-bottom:1vh;
	margin-left:3vw;
	width:20vw;
}
footer{
	padding: 2%;
    background-color: white;
    text-align: center;
    font-family: Raleway;
    margin-top: 5vh;
}
@media only screen and (max-width:1050px){
    label{
	    margin-left:20vw;
}
    i.fa-home{
        margin-left:45%;
}
}
@media only screen and (max-width:780px){
    i.fa-home{
        margin-left:30%;
}
p{
		font-size:90%;
	}
    p.share{
    	margin-left: 15vw;
    }
label{
		font-size:90%;
		margin-left: 25vw;
	}
}
@media only screen and (max-width:450px){
	p{
		font-size:60%;
	}
    p.share{
    	margin-left: 15vw;
    }
    p.name{
		font-size:100%;
	}

	label{
		font-size:60%;
		margin-left: 25vw;
	}
	i.fa-home{
      margin-left:10%;
}
}
@media only screen and (max-width:360px){
	h2{
		font-size:95%;
	}
	p{
		font-size:50%;
	}
	p.name{
		font-size:100%;
	}
	label{
		font-size:60%;
	}
	i.fa{
		font-size:90%;
	}
	i.fa-home{
		margin-left:27%;
	}
}

button{
	background-color:transparent;
	box-shadow: none;
	width:5vw;
	border:2px solid black;
	border-radius: 2px;
	cursor: pointer;
}
button:hover{
	background-color: black;
	color: white;
}