@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background-color: #eee;
	margin: 0;
}
#top{
	top:0;
	margin: 0;
	position:fixed;
	width:100vw;
    height:10vh;
    background-color: #02b46d;
    z-index: 1;
}
h2{
	position: relative;
    margin-top:3vh;
    margin-left:10vw;
	letter-spacing: 0.5em;
    font-family: 'Raleway' medium;
   display: inline;
}
i.fa{
	cursor: pointer;
}
i.fa:hover{
	color:white;
}
i.fa-search{
	margin-top:3vh;
	margin-left:50%;
}
i.fa-home{
	position: relative;
	margin-top:3vh;
	margin-left:2%;
}
i.fa-user{
	margin-left:2%;
}
i.fa-sign-out{
	margin-left:2%;
}

a{
	text-decoration: none;
	color:black;
}
div.container{
	position:relative;
	margin-top:12vh;
}
div.feed1{
	position: relative;
	margin-top:3vh;
	margin-left: 25vw;
    width:50vw;
    background-color: white;
    align-items: center;
    border:1px solid #90949c;
    border-radius: 5px;
}
.feed1 img{
	margin-top:2vh;
	width:50vw;
	margin-bottom: 1vh;
	border-bottom:2px solid #90949c;
	border-top:2px solid #90949c;
}
p{
	font-weight:bold;
	margin-bottom: 0;
	margin-top:0;
    margin-left:3vw;
	font-family:'Raleway' light;
	cursor:pointer;
}
p.name{
	font-size:150%;
}
p.date{
	margin-top:1vh;
	margin-bottom:1vh;
    color:#90949c;
}
label{
	margin-top:45vh;
	margin-left:15vw;
	font-family:'Raleway' light;
}

input{
	margin-top:1vh;
	margin-bottom:1vh;
	margin-left:3vw;
	width:20vw;
}
footer{
	padding: 2%;
    background-color: white;
    text-align: center;
    font-family: Raleway;
    margin-top: 5vh;
    margin-bottom: 0;
    bottom: 0;
}
@media only screen and (max-width:1050px){

    i.fa-search{
        margin-left:45%;
}
}
@media only screen and (max-width:780px){
    i.fa-search{
        margin-left:30%;
}
p{
		font-size:90%;
	}
 
}
@media only screen and (max-width:560px){
    i.fa{
    	font-size:150%;
    }
}
@media only screen and (max-width:490px){
	p{
		font-size:60%;
	}
   
    p.name{
		font-size:90%;
	}
 i.fa{
		font-size:120%;
	}
	i.fa-search{
      margin-left:10%;
}
}
@media only screen and (max-width:360px){
	h2{
		font-size:95%;
	}
	p{
		font-size:50%;
	}
	p.name{
		font-size:100%;
	}
	
	i.fa{
		font-size:90%;
	}
	i.fa-search{
		margin-left:27%;
	}
}

button{
	background-color:transparent;
	box-shadow: none;
	width:5vw;
	border:2px solid black;
	border-radius: 2px;
	cursor: pointer;
}
button:hover{
	background-color: black;
	color: white;
}