@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background-color: #eee;
	margin:0px;
}
#top{
	margin: 0;
	position:fixed;
	width:100vw;
    height:10vh;
    background-color: #02b46d;
    z-index: 1;
}
h2{
	position: relative;
    margin-top:3vh;
    margin-left:10vw;
	letter-spacing: 0.5em;
    font-family: Raleway light;
   display: inline;
}
i.fa{
	cursor: pointer;
}
i.fa:hover{
	color:white;
}

i.fa-home{
	position: relative;
	margin-top:3vh;
	margin-left:45%;
}
i.fa-user{
	margin-left:2%;
}
i.fa-sign-out{
	margin-left:2%;
}
.user-profile{
	position: absolute;
    margin-left:20%;
    margin-top: 7%;
    width: 60vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 25vh;
    grid-column-gap: 1em;

}
.user-profile >div{
	font-family: Raleway;
}
.feeds{
   position: absolute;
    margin-left:17%;
    margin-top: 23%;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40vh;
    grid-column-gap: 1em;
    grid-row-gap:2em;
}
div.dp{
   align-content:center;
}
img{
	width:70%;
    border-radius: 50%;
    margin-left:15%;
    height: 100%
}

button{
	background-color:transparent;
	box-shadow: none;
	padding:2%;
	width:10vw;
	border:2px solid black;
	border-radius: 2px;
	cursor: pointer;
}
button:hover{
	background-color: black;
	color: white;
}
div.details{
	grid-column:2/4;
}
.feed{
	width:100%;
	border-radius:0;
    height:100%;
    margin:0;
}
.image{
	position: relative;
}

.feed:hover{
	filter: brightness(50%);
}
.image:hover >div{
	visibility: visible;
}
.hide{
	visibility: hidden;
	color:white;
	font-family: Raleway;
}
.edit{
	position:absolute;
	right:5%;
	top:5%;

}
.date{
	position: absolute;
	bottom:10%;
	left:5%;
}
.delete{
	position: absolute;
	bottom:10%;
	right:5%;
}
@media only screen and (max-width:950px){
	.user-profile{
    margin-top: 10%;
    width: 70vw;
    grid-auto-rows: 20vh;
    }
    .feeds{
    margin-top: 28%;
    margin-left:10%;
    width: 80vw;
    grid-auto-rows: 35vh;
}

}
@media only screen and (max-width:750px){
   .feeds{
    margin-top: 30%;
}
button.edit-profile{
	width:20vw;
}

}
@media only screen and (max-width:650px){
	.user-profile{
    margin-top: 15%;
    margin-left:2%;
    width: 90vw;
    grid-auto-rows: 20vh;
    }
    .feeds{
    margin-top: 40%;
    margin-left:2%;
    width: 95vw;
    grid-auto-rows: 35vh;
}
i.fa-home{
	margin-left:30%;
}

}
@media only screen and (max-width:550px){

    .feeds{
    margin-top: 45%;
    margin-left:2%;
    width: 95vw;
    grid-auto-rows: 30vh;
}
i.fa-home{
	margin-left:25%;
}
button{
	width:30vw;
}
}
@media only screen and (max-width:420px){
	.user-profile{
    margin-top: 20%;
    margin-left:2%;
    width: 90vw;
    grid-auto-rows: 15vh;
    }
    .feeds{
    margin-top: 55%;
    margin-left:2%;
    width: 95vw;
    grid-auto-rows: 25vh;
}
i.fa-home{
	margin-left:15%;
}

}
@media only screen and (max-width:350px){

    .feeds{
    margin-top: 57%;
    margin-left:2%;
    width: 95vw;
    grid-auto-rows: 25vh;
}
i.fa-home{
	margin-left:5%;
}

}
@media only screen and (min-height:1000px){
	.user-profile{
		margin-top: 20%;
		    grid-auto-rows: 15vh;
		}
	.feeds{
     margin-top:50%;
    grid-auto-rows: 30vh;

}
}