@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background-color: rgba(3,230,140,1);
}
div{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background-color: white;
	height:70vh;
	width:30vw;
	border:5px solid #038458;
	border-radius: 10px;
}
h1{
	font-size:120%;
	font-family: Raleway;
	text-align: center;
	color:white;
	background-color:#02b46d;
	height:10%;
	margin-top: 0;
	padding-top: 2%;
	box-sizing: border-box;

}
button{
	background: transparent ;
	border:2px solid   #02b46d;
	font-family: Raleway;
	font-size:120%;
	color:#02b46d;
}

.choose-file {

	margin-top: 3vh;
	margin-left: 5vh;
	margin-bottom: 5vh;
}
.upload{
	position: absolute;
	margin-top:10vh;
	margin-left:15vw;
	width:10vw;
}
label{
	font-family: Raleway;
}
input{
	font-size: 120%;


}
.size{
	position:absolute;
	margin-left:8%;
	top:21vh;
}
#size{
	position:absolute;
	margin-left:25%;
	top:20vh;
}
.status{
	position:absolute;
	margin-left:8%;
	top:26vh;
}
#status{
	position:absolute;
	margin-left:25%;
	top:25vh;
}
.flip{
	position:absolute;
	margin-left:8%;
	top:31vh;
}
#flip{
	position:absolute;
	margin-left:25%;
	top:30vh;
}
.rotate{
	position:absolute;
	margin-left:8%;
	top:36vh;
}
#rotate{
	position:absolute;
	margin-left:25%;
	top:35vh;
}

input{
	width:50%;
}