{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{# {% if validlink %}#}
{#    <h1>Change password</h1>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{##}
{#        {% for field in form %}#}
{#            {{ field.label_tag }}#}
{#            {{ field }}<br><br>#}
{#        {% endfor %}#}
{##}
{#      <button type="submit">Change password</button>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>#}
{#      The password reset link was invalid.#}
{#      TRY AGAIN.#}
{#    </p>#}
{#  {% endif %}#}
{#</body>#}
{#</html>#}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>forget password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/Upload.css' %}">
</head>
<body>
    <div id="top">
        <h2>PHOICS</h2>
    </div>
    <div class="container">
         <div class="content heading"><p class="upload">Change Your Password</p></div>
         <div class="content form">
             <div class="Form">
                     <form method='post' enctype="multipart/form-data" novalidate>
                         {% csrf_token %}
                         {% for field in form %}
                             <div class="row">
                                 <label for="name">{{ field.label_tag }}</label>
                                 {{ field }}<br><br>
                                 {% for error in field.errors %}
                                     <p style="color: red">{{ error }}</p>
                                 {% endfor %}
                             </div>
                         {% endfor %}
                         <button class="button" type="submit">CHANGE</button>

                     </form>
             </div>
         </div>
    </div>

</body>
</html>