{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>forget password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/Upload.css' %}">
</head>
<body>
    <script src="{% static 'portal/javascript/Validation.js' %}"></script>

    <div id="top">
        <h2>PHOICS</h2>
    </div>
    <div class="container">
         <div class="content heading"><p class="upload">Enter Email</p></div>
         <div class="content form">
             <div class="Form">
                     <form name="forgetForm" method='post' enctype="multipart/form-data" onsubmit="return forgetValidate()" novalidate>
                         {% csrf_token %}
                         {% for field in form %}
                             <div class="row">
                                 <label for="name">{{ field.label_tag }}</label><br>
                                 {{ field }}<br><br>
                                 {% for error in field.errors %}
                                     <p id="error_forget_email" style="color: red">{{ error }}</p>
                                 {% endfor %}
                             </div>
                         {% endfor %}
                         <button class="button" type="submit">SUBMIT</button>

                     </form>
             </div>
         </div>
    </div>

</body>
</html>