{% load staticfiles %}
{#{% load social_share %}#}
<!DOCTYPE html>
<html>
<head>
<title>newsfeed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'portal/newsfeed.css' %}">
</head>

<body>

<div class="top-bar">
<h1>P H O I C S</h1>
    <img src="{% static 'portal/images/search.png' %}" class="search_img">
	<a href="{% url 'profile' %}"><img src="{% static 'portal/images/profile.png' %}" class="profile"></a>
	<input type="text" id="search" >

</div>
{% if user.is_authenticated %}
    {% csrf_token %}

     {% for img in images %}

            {% if img.status == "PUBLIC" %}
                 <div class="feed1">
                 <p class="name">{{ img.uploaded_at }}  by  {{ img.user }}</p>
                 <a href="{{ img.document.url }}"><img src="{{ img.document.url }}" ></a>
{#                 {% post_to_facebook img  %}#}
                 {% for com in comment1 %}
                     {% if com.image == img.document %}
                         <p>{{ com.comment }}
                     {%  endif %}
                 {%  endfor %}
                 <p class="like">like no.</p>
                 <p class="share">share</p>

                </div>
            {% endif %}
        <label  for="comment">comment no.</label><br>
            <form method='post'  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="comment"><br>
            <button type="submit">Comment</button><br><br>
            </form>
        {% endfor %}


    <footer>
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}
        Page {{ images.number }} of {{ images.paginator.num_pages }}.
        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </footer>

{% else %}
    <h3>you are not logged-in first login</h3>
{% endif %}



{#    <p class="name">NAME</p>#}
{#    <img src="{% static 'portal/images/7904977172_a2e456325e_z.jpg' %}">#}
{#    <p class="like">like no.</p>#}
{#    <p class="share">share</p>#}
{#    <label  for="comment">comment no.</label><br>#}
{#<input type="text" id="comment">#}

</div>
</body>
</html>

{#{% extends 'base_profile.html' %}#}
{##}
{#{% block content %}#}
{#{% if user.is_authenticated %}#}
{#    {% csrf_token %}#}
{#    <ul>#}
{#        <li>#}
{#        <a href="{% url 'profile' %}">PROFILE PAGE</a>#}
{#        </li>#}
{#    </ul>#}
{#    <ul>#}
{#        {% for img in images %}#}
{#            {% if img.status == "PUBLIC" %}#}
{#                <li>#}
{#                <h3>{{ img.uploaded_at }}  by  {{ img.user }}</h3>#}
{#                <a href="{{ img.document.url }}"><img src="{{ img.document.url }}"></a>#}
{#                </li>#}
{#            {% endif %}#}

{#        {% endfor %}#}
{##}
{#    </ul>#}
{#        {% if images.has_previous %}#}
{#            <a href="?page={{ images.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{##}
{#            Page {{ images.number }} of {{ images.paginator.num_pages }}.#}
{##}
{##}
{#        {% if images.has_next %}#}
{#            <a href="?page={{ images.next_page_number }}">next</a>#}
{#        {% endif %}#}
{##}
{##}
{#{% else %}#}
{#    <h3>you are not logged-in first login</h3>#}
{#{% endif %}#}
{#{% endblock %}#}