{% extends 'base.html' %}

{% block content %}
  <ul style="list-style-type:none">
    <li>
        <a href="{% url 'newsfeed' %}">NEWSFEED PAGE</a><br>
        <a href="{% url 'model_form_upload' %}">UPLOAD PICTURE</a><br>
{#        <a href="{% url 'profilepic' %}">UPLOAD profile pic</a><br>#}

    </li>
  </ul>

    <div>
        <ul style="list-style-type:none">
            {% for obj in documents %}
                {% if obj.user == request.user %}
                    <li>
                        <img src="{{ obj.document.url }}" style="height: 500px;width: 500px;">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}