{% extends 'base_profile.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="get">
    <div>
      <h4 style="margin-top: 0">Search</h4>
      <div>
        <div >
          {{ filter.form.username.label_tag }}
          {% render_field filter.form.username%}
        </div>
        <div>
          {{ filter.form.year_joined.label_tag }}
          {% render_field filter.form.year_joined %}
        </div>
        </div>
        </div>
      </div><br>
      <button type="submit">
        <span></span> Search
      </button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Date joined</th>
      </tr>
    </thead>
    <tbody>
      {% for user in filter.qs %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.date_joined }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}